body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}
.swm-depreacated-message{
  margin-top: 5px !important;
  padding: 5px 15px !important;
}
.swm-depreacated-message p{
  font-size: 12px;
}
table.wc_status_table td mark.yes, table.wc_status_table th mark.yes {
    color: #7ad03a;
    background: transparent;
}
.ui.dimmer.modals.active {
  z-index: 999999 !important;
}
.swm-border-bottom{
  border: 0;
  border-bottom: 1px solid rgba(34,36,38,.1);
}
.swm-no-border{
  border: 0 !important;
}
.button.swm-upgrade-pro-btn{
  height: 36px;
}
.swm .ui.menu{
  padding-top: 0;
}
.swm-fixed-nav-bar{
  position: fixed;
  top: 35px;
  z-index: 9999;
}
.swm-import-btn{
  background: #2185d0 !important;
}
.swm-navigation-bar .item{
  line-height: 18px !important;
}
.swm-import-completed-header{
  margin: 0;
}
.ajax_loaded_content{
  max-height: 250px;
  overflow-y: auto;
}
/*.bg-grey{
  background: #f1f1f1 !important;
}*/
.ui.form input[type='text'],
.ui.form select{
  background: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #cccccc;
}
.ui.loader:after{
  border-color: #0085ba transparent transparent;
}
.swm-import-running{
  opacity: 0.6;
}
.swm-hidden{
  visibility: hidden;
}
.swm-start-importer-btn{
  height: 36px;
  line-height: 36px !important;
  font-weight: 700;
}
.swm .swm-disable-input{
  background: #d8d8d8 !important;
  color: #6c6c6c !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

swm-tooltip{
  
}
.swm-warning-tooltip{
  /* color:  */
}

@media only screen and (max-width: 767px){
  .swm-navigation-bar .item{
    width: 90px;
  }
}

@media only screen and (max-width: 599px){
  .swm-fixed-nav-bar{
    top: 0;
  }
}